
    <section class="hero py-16">
        <div class="mx-auto container flex items-center justify-between">
            <div class="w-1/2">
                <h6 class="text-lg"><em>Are you hungry?</em></h6>
                <h1 class="text-6xl font-bold">Don't Wait!</h1>
                <button class="px-6 py-2 rounded-full flex text-white font-bold mt-4 btn-primary">Order Now</button>
            </div>
            <div class="w-1/2">
                <img src="/img/hero-cake.png">
            </div>
        </div>
    </section>
    <section class="container mx-auto menu py-8">
        <h1>All Pizzas</h1>
        <div class="grid grid-cols-4 col-gap-12 row-gap-16">
            <div class="w-64">
                <img src="/img/cake.png" class="h-40 mb-4 mx-auto">
                <div class="text-center">
                    <h3 class="mb-4 text-lg">Black Forest</h3>
                    <span class="size py-1 px-3 rounded-full uppercase text-xs">small(250gm)</span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold text-lg">₹350</span>
                        <button class="add-to-cart py-1 px-6 flex items-center font-bold rounded-full">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="w-64">
                <img src="/img/cake.png" class="h-40 mb-4 mx-auto">
                <div class="text-center">
                    <h3 class="mb-4 text-lg">Black Forest</h3>
                    <span class="size py-1 px-3 rounded-full uppercase text-xs">small(250gm)</span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold text-lg">₹350</span>
                        <button class="add-to-cart py-1 px-6 flex items-center font-bold rounded-full">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="w-64">
                <img src="/img/cake.png" class="h-40 mb-4 mx-auto">
                <div class="text-center">
                    <h3 class="mb-4 text-lg">Black Forest</h3>
                    <span class="size py-1 px-3 rounded-full uppercase text-xs">small(250gm)</span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold text-lg">₹350</span>
                        <button class="add-to-cart py-1 px-6 flex items-center font-bold rounded-full">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="w-64">
                <img src="/img/cake.png" class="h-40 mb-4 mx-auto">
                <div class="text-center">
                    <h3 class="mb-4 text-lg">Black Forest</h3>
                    <span class="size py-1 px-3 rounded-full uppercase text-xs">small(250gm)</span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold text-lg">₹350</span>
                        <button class="add-to-cart py-1 px-6 flex items-center font-bold rounded-full">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="w-64">
                <img src="/img/cake.png" class="h-40 mb-4 mx-auto">
                <div class="text-center">
                    <h3 class="mb-4 text-lg">Black Forest</h3>
                    <span class="size py-1 px-3 rounded-full uppercase text-xs">small(250gm)</span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold text-lg">₹350</span>
                        <button class="add-to-cart py-1 px-6 flex items-center font-bold rounded-full">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="w-64">
                <img src="/img/cake.png" class="h-40 mb-4 mx-auto">
                <div class="text-center">
                    <h3 class="mb-4 text-lg">Black Forest</h3>
                    <span class="size py-1 px-3 rounded-full uppercase text-xs">small(250gm)</span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold text-lg">₹350</span>
                        <button class="add-to-cart py-1 px-6 flex items-center font-bold rounded-full">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="w-64">
                <img src="/img/cake.png" class="h-40 mb-4 mx-auto">
                <div class="text-center">
                    <h3 class="mb-4 text-lg">Black Forest</h3>
                    <span class="size py-1 px-3 rounded-full uppercase text-xs">small(250gm)</span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold text-lg">₹350</span>
                        <button class="add-to-cart py-1 px-6 flex items-center font-bold rounded-full">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="w-64">
                <img src="/img/cake.png" class="h-40 mb-4 mx-auto">
                <div class="text-center">
                    <h3 class="mb-4 text-lg">Black Forest</h3>
                    <span class="size py-1 px-3 rounded-full uppercase text-xs">small(250gm)</span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold text-lg">₹350</span>
                        <button class="add-to-cart py-1 px-6 flex items-center font-bold rounded-full">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
