<section class="orders light-section">
    <div class="container mx-auto pt-12">
        <h1 class="font-bold text-lg mb-4">All Orders</h1>
        <% if(messages.error){ %> 
            <span class="text-red-500 text-lg font-bold"><%=messages.error%></span>
        <% } %>
        <table class="w-full table-auto bg-white">
             <thead>
                 <tr>
                     <th class="text-left px-4 py-2">Orders</th>
                     <th class="text-left px-4 py-2">Customers</th>
                     <th class="text-left px-4 py-2">Address</th>
                     <th class="text-left px-4 py-2">Status</th>
                     <th class="text-left px-4 py-2">Placed At</th>
                 </tr> 
             </thead>
             <tbody id="orderTableBody">

             </tbody>
        </table>
    </div>
</section>