<section class="cart py-16">
    <!-- <div class="empty-cart py-16">
        <div class="container mx-auto text-center">
            <h1 class="text-3xl font-bold mb-2">Cart is Empty! 😕</h1>
            <p class="text-gray-500 text-lg">You probably haven't ordered any cakes yet.<br>
                To add a cake, go to the main page.</p>
            <img class="w-2/5 mt-12 mx-auto" src="/img/empty-cart.png">
            <a class="inline-block px-6 py-2 rounded-full font-bold text-white btn-primary mt-12 mb-12" href="/">Go back</a>
        </div>
    </div> -->
    <div class="order container mx-auto w-1/2">
        <div class="flex items-center border-b border-gray-300 pb-4">
            <img src="/img/cart-black.png">
            <h1 class="font-bold ml-4 text-2xl">Order Summary</h1>
        </div>
        <div class="pizza-list">
            <div class="flex items-center my-8">
                <img class="w-24" src="/img/cake.png">
                <div class="flex-1 ml-4">
                    <h1>Black-Forest</h1>
                    <span>MEDIUM</span>
                </div>
                <span class="flex-1">1psc(250 gm)</span>
                <span class="font-bold text-lg">₹350</span>
            </div>
            <div class="flex items-center my-8">
                <img class="w-24" src="/img/cake.png">
                <div class="flex-1 ml-4">
                    <h1>Black-Forest</h1>
                    <span>MEDIUM</span>
                </div>
                <span class="flex-1">1psc(250 gm)</span>
                <span class="font-bold text-lg">₹350</span>
            </div>
            <div class="flex items-center my-8">
                <img class="w-24" src="/img/cake.png">
                <div class="flex-1 ml-4">
                    <h1>Black-Forest</h1>
                    <span>MEDIUM</span>
                </div>
                <span class="flex-1">1psc(250 gm)</span>
                <span class="font-bold text-lg">₹350</span>
            </div>
        </div>
        <hr>
        <div class="text-right py-4">
            <div>
                <span class="text-lg font-bold">Total Amount:</span>
                <span class="amount text-2xl ml-2 font-bold">₹350</span>
            </div>
            <div>
                <form action="" class="mt-12">
                    <input class="border border-gray-400 p-2 w-1/2 mb-4" type="text" placeholder="Phone Number">
                    <input class="border border-gray-400 p-2 w-1/2" type="text" placeholder="Address">
                    <!-- <div>
                        <button type="submit" class="btn-primary rounded-full font-bold mt-6 py-2 px-6 text-white">Order Now</button>
                    </div> -->
                </form>
            </div>
            <a href="" class="inline-block cursor-pointer btn-primary rounded-full font-bold mt-6 py-2 px-6 text-white">Login to continue</a>
        </div>
    </div>
</section>